[submodule "themes/hugo-myportfolio-theme"]
	path = themes/hugo-myportfolio-theme
	url = https://github.com/2-REC/hugo-myportfolio-theme
[submodule "themes/gallery"]
	path = themes/gallery
	url = https://github.com/nicokaiser/hugo-theme-gallery.git
